---
- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Restart php-fpm
  ansible.builtin.service:
    name: "{{ web_php_fpm_service }}"
    state: restarted
